
@main("Welcome to Moot") {

    <header>
      <div class="intro-header">

        <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="header-msg">
                    <h1>Moot</h1>
                    <h3>The way to Happiness</h3>
                </div>
                <a class="btn btn-default btn-lg" href="/login">
                    <span class="sign">Sign in</span>
                </a>
            </div>
          </div>
        </div>

      </div>
    </header>




    <div id="container" style="margin-top:70px;">

        <content>
            <div class="content-Share">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                            <h1 class="blocks-header">Share and have Fun ! </h1>
                            <p class="blocks-body">
                                Have fun discovering a new kind of discussion.
                                Share your life, experiences, feelings, it only just take one Moot.
                                Share, Learn, Educate... It's simple.
                                You just need to knock the door.
                            </p>
                        </div>
                        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                            <img class="img-responsive" src="@routes.Assets.at("img/Sharexcf.png")" alt=""> 
                        </div>
                  </div>
            </div>

            </div>

            <hr class="blocks-spacer ">

            <div class="content-Follow">

            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <h1 class="blocks-header"> Meet new Friends ! </h1>
                        <p class="blocks-body">
                            Moot is like a magic portal. Cross the threshold ! 
                            Enlighten your day with delightful members. 
                            Follow, Moot, Discuss... Imagine a world of greatness.
                            You just need to sign-in and open the door.
                        </p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="@routes.Assets.at("img/friends.png")" alt=""> 
                    </div>
                </div>
            </div>

            </div>

            <hr class="blocks-spacer ">

            <div class="content-Enjoy">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                            <h1 class="blocks-header"> Enjoy ! </h1>
                            <p class="blocks-body">
                                Moot needs you ! <br/>
                                "Cause Baby you're a firework" - end of Katty Perry's quote! <br/>
                                Join our #octohappycat team.
                            </p>
                        </div>
                        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                            <img class="img-responsive" src="@routes.Assets.at("img/fireworks.jpeg")" alt=""> 
                        </div>
                    </div>
                </div>

            </div>
        </content>
    </div>  

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <a href="https://github.com/ojbruce" class="btn btn-default btn-xs" target="_blank">
                <span class="network-name">Github</span>
            </a>
            Join us on Github!
          
        </div>
      </div>
    </div>

  </div>



}
