@(title: String)(implicit content: Html = Html(""))
<!DOCTYPE html>
<html>
    <head>
      <title>@title</title>
     
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
      <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

      <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

      <script src="@routes.Assets.at("javascripts/jquery-2.1.0.min.js")" type="text/javascript"></script>
      <script src="@routes.Assets.at("javascripts/angular.min.js")" type="text/javascript"></script>
      <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
     <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>

    </head>
    <body ng-app="moot">  
        @content
    </body>
</html>
